.logo{
    width: 20rem;
}
.nav-bar{
    justify-content: space-between;
    padding-top: 2rem;
}
.login-btn{
    padding-left: 1rem;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/src/assets/down-arrow.png) no-repeat right 14px center;
  background-size: 1rem;
}
.language{
    padding: .75rem 4rem;
    margin-right: 1rem;
    border: 0.5px solid #898989;
    border-radius: .4rem;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
}
.select-box{
    position: relative;
}
.select-box::before{
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background: url(/src/assets/lan-icon.png) no-repeat center;
    background-size: cover;
    top: 8px;
    left: 20px;
}
.language:focus{
    border: 0.5px solid #898989;
}
@media (max-width:991px){
    .n-container{
        padding: 0 3rem;
    }
    .logo{
        width: 10rem;
    }
}